
* {
    font-family: monospace;
    font-size: 12px;
    color: #333;
}

body {
    padding: 1em;
}

h1 {
    font-size: 32px;
    margin-top: 0;
}

div.widget {
    padding: 1em 2em;
    border: 1px solid #eee;
    margin: 1em 0;
}

div.widget h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 22px;
}

table.form {
    width: 800px;
    margin: 10px 0 40px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}

table.form th.title {
    font-size: 16px;
    font-weight: bold;
}

table.form th {
    text-align: left;
    width: 14em;
    font-weight: normal;
}

table.form td span {
    margin-right: 0.5em;
}

#session_id {
    color: #f66;
}

#logs ul {
    display: block;
    min-height: 80px;
    border: 1px solid #eee;
    list-style: none;
    padding: 0.2em 0.5em;
}

#logs li {
    list-style: none;
    color: #933;
    margin: 0;
}

input[type=text] {
    width: 32em;
    font-size: 12px;
    margin: 0.5em 0;
    border: 1px solid #666;
    padding: 0.1em 0.5em;
}

input.small[type=text] {
    width: 8em;
}

input:disabled[type=text] {
    color: #999;
    border: 1px solid #999;
}

input[type=button] {
    border: 1px solid #ddd;
    background: #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    padding: 0.3em 1.0em;
    margin: 0;
}

input[type=button]:active {
    background: #ddd;
}
